:root{
    color-scheme: light dark;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0; 
}

.logo h2 {
    padding-left: 75px;
}

.dashboard-container{
    display: flex;
}

.dashboard{
    background-color: #201f1f;
    margin-left: 25px;
    border-radius: 15px;
}

.sidebar {
    width: 200px;
    background-color: #ddb665;
    height: 100vh;
    padding: 20px;
    margin: 0px;
    color: black;
}
a{
    text-decoration: none;
    color: red;
}
a:hover {
    color: rgb(38, 142, 72);
}
a:visited{
    color: black;
}
.main-content {
    padding: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}