:root {
    color-scheme: light dark;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.logo h2 {
    padding-left: 75px;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.dashboard {
    display: flex;
    background-color: #201f1f;
    margin-left: 25px;
    border-radius: 15px;
}

.sidebar {
    width: 200px;
    background-color: #e1ab08;
    min-height: 100vh;
    padding: 20px;
    margin: 0px;
    color: black;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: bisque;
}

.main-content-container {
    display: flex;
    gap: 20px; 
    padding: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    margin-left: 140px;
}

.main-content:not(:first-child) {
    margin-left: 20px;
}

input {
    width: 60%;
    height: 23px;
}

button{
    padding: 10px 20px;
    background-color: #e1ab08; 
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 120px;
    margin-right: 20px; 
    display: block; 
    width: 30%; 
    height: 20%;
}