body{
    background-color: black;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 45px;
    margin-top: 100px;
    background-color: #2c2929;
    color: white;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    display: block;
    width: 35%;
    padding: 10px;
    margin-left: 150px;
    background-color: #4591a0;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0f444e;
    color: white;
}

/* Estilo predeterminado para enlaces */
a {
    color: #4591a0; /* Color del texto del enlace */
    text-decoration: none; /* Elimina la subraya predeterminada */
  }
  
  /* Estilo cuando el enlace está en estado "hover" (cursor sobre él) */
  a:hover {
    text-decoration: underline; /* Añade una subraya al pasar el cursor sobre el enlace */
  }
  
  /* Estilo cuando el enlace está en estado "visited" (ya ha sido visitado) */
  a:visited {
    color: rgb(103, 194, 156); /* Cambia el color del texto para los enlaces visitados */
  }
  